.body-login {
  @include flex(row, center, center, false);

  width: 100%;
  min-height: 100vh;
  max-height: 100%;

  padding: 0 16px;

  // overflow-y: auto;

  background-image: url('./../images/landing/bkg.jpg'), linear-gradient(145deg, rgba(217,19,94,1) 0%, rgba(33,0,21,1) 27%, rgba(0,0,20,1) 40%, rgba(1,0,78,1) 67%, rgba(0,10,69,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .container {
    @include flex(column, center, center, false);
    position: relative;
    
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;

    padding-bottom: 140px;

    section {
      @include flex(column, start, center, false);
  
      width: 100%;
  
      form {
        @include flex(column, start, center, false);
  
        max-width: 400px;
        width: 100%;
        height: 256px;
    
        padding: 16px 24px;
    
        box-shadow: 0px 0px 10px $blue-500;
        background-color: $white;
        border-radius: 10px;
  
        p {
          width: 100%;
  
          margin-bottom: 24px;
  
          color: $blue-500;
          @include ff-opensans-bold;
          @include body-s;
        }
  
        input {
          width: 100%;
  
          padding: 8px 16px;
  
          @include body-s;
          @include ff-opensans;
          color: $blue-300;
  
          border: 1px solid;
          border-color: $blue-500;
          border-radius: 5px;
  
          &::placeholder {
            color: $blue-300;
  
          }
        }
  
        button {
          margin-top: auto;
  
          color: $white;
          background-color: $blue-500;
        }
      }
    }
  }
}