/* Core variables and mixins */
/* Global CSS */
* {
  margin: 0;
  box-sizing: border-box; }

input {
  outline: none; }

.btn {
  outline: none;
  cursor: pointer;
  border: 0; }
  .btn.goopen {
    padding: 16px 32px;
    font-family: "Opensans-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 25px;
    transition: transform 0.3s cubic-bezier(0.65, 0.39, 0.5, 1.63); }
    .btn.goopen:hover {
      transform: translateY(-4px); }
  .btn.fullwidth {
    width: 100%; }

/* Colors CSS */
/* Typography CSS */
@font-face {
  font-display: fallback;
  font-family: 'Cond';
  src: url(../fonts/DINCond.otf); }

@font-face {
  font-display: fallback;
  font-family: 'Mozza';
  src: url(../fonts/Mozza.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Ombudsman';
  src: url(../fonts/OmbudsmanStencil.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Opensans-bold';
  src: url(../fonts/OpenSans-bold.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Opensans';
  src: url(../fonts/OpenSans-regular.ttf); }

/* Components */
.overlay-darken {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: black;
  opacity: 0.3; }

.legal-wrapper {
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  font-family: "Opensans";
  font-style: normal;
  font-weight: normal; }
  .legal-wrapper .legal-block {
    border-radius: 12px; }
  .legal-wrapper .tab-content {
    overflow: auto;
    height: 80px;
    padding: 4px 12px;
    background: rgba(120, 120, 120, 0.369);
    box-sizing: border-box; }
    .legal-wrapper .tab-content .tab-pane {
      display: none;
      min-height: 100%;
      font-size: 12px;
      line-height: px;
      color: white;
      opacity: 0.7; }
      .legal-wrapper .tab-content .tab-pane.active {
        display: block; }
      .legal-wrapper .tab-content .tab-pane a {
        color: inherit; }
  .legal-wrapper .nav-tabs {
    margin-top: 8px;
    padding: 0; }
    .legal-wrapper .nav-tabs li {
      position: relative;
      display: inline-block;
      height: 17px;
      font-size: 12px;
      line-height: px;
      color: white; }
      .legal-wrapper .nav-tabs li:first-child a {
        padding-left: 0; }
      .legal-wrapper .nav-tabs li:last-child::after {
        opacity: 0; }
      .legal-wrapper .nav-tabs li a {
        padding: 10px 15px;
        background: none;
        border: none;
        color: white;
        opacity: 0.7;
        text-decoration: none; }
      .legal-wrapper .nav-tabs li.active {
        font-weight: bold; }
        .legal-wrapper .nav-tabs li.active a {
          color: white;
          opacity: 1; }
      .legal-wrapper .nav-tabs li::after {
        content: '';
        position: absolute;
        width: 1px;
        height: inherit;
        background-color: white;
        opacity: 0.3; }

/* Pages */
.body-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  padding: 0 16px;
  background-image: url("./../images/landing/bkg.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-login .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding-bottom: 140px; }
    .body-login .container section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%; }
      .body-login .container section form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 400px;
        width: 100%;
        height: 256px;
        padding: 16px 24px;
        box-shadow: 0px 0px 10px #015ec0;
        background-color: white;
        border-radius: 10px; }
        .body-login .container section form p {
          width: 100%;
          margin-bottom: 24px;
          color: #015ec0;
          font-family: "Opensans-bold";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px; }
        .body-login .container section form input {
          width: 100%;
          padding: 8px 16px;
          font-size: 14px;
          line-height: 18px;
          font-family: "Opensans";
          font-style: normal;
          font-weight: normal;
          color: #6992bd;
          border: 1px solid;
          border-color: #015ec0;
          border-radius: 5px; }
          .body-login .container section form input::placeholder {
            color: #6992bd; }
        .body-login .container section form button {
          margin-top: auto;
          color: white;
          background-color: #015ec0; }

.body-landing-temporal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  overflow-y: auto;
  background-image: url("./../images/landing/bkg.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-landing-temporal header {
    width: 100%;
    max-width: 500px;
    padding: 24px;
    text-align: center; }
    .body-landing-temporal header img {
      width: 100%;
      max-width: 100px;
      margin-bottom: 20px; }
    .body-landing-temporal header h1 {
      font-family: "Ombudsman";
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 20px;
      color: white; }
      @media (max-width: 480px) {
        .body-landing-temporal header h1 {
          font-size: 48px;
          line-height: 48px; } }
    .body-landing-temporal header h2 {
      font-family: "Cond";
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: px;
      color: white; }
      @media (max-width: 480px) {
        .body-landing-temporal header h2 {
          font-size: 24px;
          line-height: px; } }
  @media (max-width: 480px) {
    .body-landing-temporal {
      justify-content: start; } }
