/* Core variables and mixins */
/* Global CSS */
* {
  margin: 0;
  box-sizing: border-box; }

input, select {
  outline: none; }

.btn {
  outline: none;
  cursor: pointer;
  border: 0; }
  .btn.goopen {
    padding: 16px 32px;
    font-family: "Opensans-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 25px;
    transition: transform 0.3s cubic-bezier(0.65, 0.39, 0.5, 1.63); }
    .btn.goopen:hover {
      transform: translateY(-4px); }
  .btn.fullwidth {
    width: 100%; }

/* Colors CSS */
/* Typography CSS */
@font-face {
  font-display: fallback;
  font-family: 'Cond';
  src: url(../fonts/DINCond.otf); }

@font-face {
  font-display: fallback;
  font-family: 'Mozza';
  src: url(../fonts/Mozza.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Ombudsman';
  src: url(../fonts/OmbudsmanStencil.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Opensans-bold';
  src: url(../fonts/OpenSans-bold.ttf); }

@font-face {
  font-display: fallback;
  font-family: 'Opensans';
  src: url(../fonts/OpenSans-regular.ttf); }

/* Components */
.overlay-darken {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4; }

.legal-wrapper {
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  font-family: "Opensans";
  font-style: normal;
  font-weight: normal; }
  .legal-wrapper .legal-block {
    border-radius: 12px; }
  .legal-wrapper .tab-content {
    overflow: auto;
    height: 80px;
    padding: 4px 12px;
    background: rgba(120, 120, 120, 0.369);
    box-sizing: border-box; }
    .legal-wrapper .tab-content .tab-pane {
      display: none;
      min-height: 100%;
      font-size: 12px;
      line-height: px;
      color: white;
      opacity: 0.7; }
      .legal-wrapper .tab-content .tab-pane.active {
        display: block; }
      .legal-wrapper .tab-content .tab-pane a {
        color: inherit; }
  .legal-wrapper .nav-tabs {
    margin-top: 8px;
    padding: 0; }
    .legal-wrapper .nav-tabs li {
      position: relative;
      display: inline-block;
      height: 17px;
      font-size: 12px;
      line-height: px;
      color: white; }
      .legal-wrapper .nav-tabs li:first-child a {
        padding-left: 0; }
      .legal-wrapper .nav-tabs li:last-child::after {
        opacity: 0; }
      .legal-wrapper .nav-tabs li a {
        padding: 10px 15px;
        background: none;
        border: none;
        color: white;
        opacity: 0.7;
        text-decoration: none; }
      .legal-wrapper .nav-tabs li.active {
        font-weight: bold; }
        .legal-wrapper .nav-tabs li.active a {
          color: white;
          opacity: 1; }
      .legal-wrapper .nav-tabs li::after {
        content: '';
        position: absolute;
        width: 1px;
        height: inherit;
        background-color: white;
        opacity: 0.3; }

.form-yes-no {
  width: 100%; }
  .form-yes-no p {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Mozza";
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: white; }
  .form-yes-no .switch {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 50px;
    font-family: "Mozza";
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    transition: all 0.3s ease; }
  .form-yes-no .switch span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(100deg) translate(-25%, -25%);
    width: 20px;
    height: 4px;
    margin: -2px 0px 0px -4px;
    opacity: 0;
    background: #fff;
    transition: all 0.3s ease; }
    .form-yes-no .switch span.active {
      opacity: 1;
      transform: rotate(-45deg) translate(-25%, -25%); }
  .form-yes-no .switch span::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: -8px;
    width: 4px;
    height: 12px;
    background: #fff;
    transition: all 0.3s ease; }
  .form-yes-no input[type=radio] {
    display: none; }
  .form-yes-no .switch label {
    width: 100px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease; }
  .form-yes-no label[for=no] {
    position: absolute;
    right: 0px; }
  .form-yes-no #yes:checked ~ .switch {
    background: #3477be; }
  .form-yes-no #no:checked ~ .switch {
    background: #eb4f37; }
  .form-yes-no #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px; }
  .form-yes-no #no:checked ~ .switch span::after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px; }
  .form-yes-no #yes:checked ~ .switch label[for=yes] {
    color: #fff; }
  .form-yes-no #no:checked ~ .switch label[for=no] {
    color: #fff; }
  .form-yes-no label[for=yes] {
    position: absolute;
    left: 0;
    height: 50px; }

/* Pages */
.body-landing-temporal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  overflow-y: auto;
  background-image: url("./../images/landing/bkg_1.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-landing-temporal header {
    width: 100%;
    max-width: 500px;
    padding: 24px;
    text-align: center; }
    .body-landing-temporal header img {
      width: 100%;
      max-width: 100px;
      margin-bottom: 20px; }
    .body-landing-temporal header h1 {
      font-family: "Ombudsman";
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.05em;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 20px;
      color: white; }
      @media (max-width: 480px) {
        .body-landing-temporal header h1 {
          font-size: 48px;
          line-height: 48px; } }
    .body-landing-temporal header h2 {
      font-family: "Cond";
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 46px;
      color: white; }
      @media (max-width: 480px) {
        .body-landing-temporal header h2 {
          font-size: 24px;
          line-height: 31px; } }
  @media (max-width: 480px) {
    .body-landing-temporal {
      justify-content: start; } }

.body-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  overflow-y: auto;
  background-image: url("./../images/landing/bkg_1.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-landing header {
    width: 100%;
    max-width: 740px;
    padding: 24px;
    text-align: center; }
    .body-landing header h1 {
      font-family: "Ombudsman";
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.05em;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 40px;
      color: white; }
      @media (max-width: 480px) {
        .body-landing header h1 {
          font-size: 36px;
          line-height: 46px; } }
    .body-landing header button {
      background-color: #cd0f57;
      color: white; }

.body-pregunta-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  overflow: hidden;
  background-image: url("./../images/landing/bkg_4.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-pregunta-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 0 16px; }
    .body-pregunta-1 .container header {
      width: 100%;
      max-width: 700px;
      margin-bottom: 40px;
      text-align: center; }
      .body-pregunta-1 .container header h1 {
        font-family: "Ombudsman";
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.05em;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 20px;
        color: white; }
      .body-pregunta-1 .container header h2 {
        font-family: "Ombudsman";
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.05em;
        font-size: 36px;
        line-height: 46px;
        color: white; }
      @media (max-width: 480px) {
        .body-pregunta-1 .container header h1 {
          font-size: 36px;
          line-height: 46px; }
        .body-pregunta-1 .container header h2 {
          font-size: 24px;
          line-height: 31px; } }

.body-pregunta-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  overflow: hidden;
  background-image: url("./../images/landing/bkg_3.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-pregunta-2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 0 16px; }
    .body-pregunta-2 .container header {
      width: 100%;
      max-width: 700px;
      margin-bottom: 40px;
      text-align: center; }
      .body-pregunta-2 .container header h1 {
        font-family: "Ombudsman";
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.05em;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 20px;
        color: white; }
      .body-pregunta-2 .container header h2 {
        font-family: "Ombudsman";
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.05em;
        font-size: 36px;
        line-height: 46px;
        color: white; }
      @media (max-width: 480px) {
        .body-pregunta-2 .container header h1 {
          font-size: 36px;
          line-height: 46px; }
        .body-pregunta-2 .container header h2 {
          font-size: 24px;
          line-height: 31px; } }

.body-registro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  padding: 0 16px;
  background-image: url("./../images/landing/bkg_1.jpg"), linear-gradient(145deg, #d9135e 0%, #210015 27%, #000014 40%, #01004e 67%, #000a45 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .body-registro .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%; }
    .body-registro .container section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      max-width: 600px;
      width: 100%;
      padding: 32px 24px;
      margin: 40px 0;
      box-shadow: 0px 0px 10px #015ec0;
      background-color: white;
      border-radius: 10px;
      overflow-y: auto;
      /* width */
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      .body-registro .container section::-webkit-scrollbar {
        width: 20px; }
      .body-registro .container section::-webkit-scrollbar-track {
        border-radius: 10px;
        background: white; }
      .body-registro .container section::-webkit-scrollbar-thumb {
        background: #3477be;
        border-radius: 0 8px 8px 0; }
      .body-registro .container section::-webkit-scrollbar-thumb:hover {
        background: #015ec0; }
      .body-registro .container section p {
        width: 100%;
        margin-bottom: 24px;
        color: #015ec0;
        font-family: "Opensans-bold";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; }
      .body-registro .container section form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        width: 100%; }
        .body-registro .container section form .form-section {
          width: 100%; }
          .body-registro .container section form .form-section.fullwidth {
            grid-column: 1/3; }
          .body-registro .container section form .form-section label {
            display: inline-block;
            width: 100%;
            margin-bottom: 8px;
            font-family: "Opensans";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: black; }
          .body-registro .container section form .form-section input {
            width: 100%;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 18px;
            font-family: "Opensans";
            font-style: normal;
            font-weight: normal;
            color: #015ec0;
            border: 1px solid;
            border-color: #3477be;
            border-radius: 5px; }
            .body-registro .container section form .form-section input::placeholder {
              color: #6992bd; }
            .body-registro .container section form .form-section input:focus {
              box-shadow: 0px 0px 3px #015ec0;
              border-color: #015ec0; }
            .body-registro .container section form .form-section input.error {
              border-color: #cd0f57;
              color: #cd0f57; }
          .body-registro .container section form .form-section select {
            width: 100%;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 18px;
            font-family: "Opensans";
            font-style: normal;
            font-weight: normal;
            color: #015ec0;
            border: 1px solid;
            border-color: #015ec0;
            border-radius: 5px; }
            .body-registro .container section form .form-section select::placeholder {
              color: #6992bd; }
            .body-registro .container section form .form-section select:focus {
              box-shadow: 0px 0px 3px #015ec0;
              border-color: #015ec0; }
            .body-registro .container section form .form-section select.error {
              border-color: #cd0f57;
              color: #cd0f57; }
          .body-registro .container section form .form-section.checkbox {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap; }
            .body-registro .container section form .form-section.checkbox input[type='checkbox'] {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-top: 2px;
              margin-right: 8px; }
          .body-registro .container section form .form-section button {
            width: 100%;
            color: white;
            background-color: #015ec0; }
          .body-registro .container section form .form-section:last-child {
            margin-top: 16px; }
        @media (max-width: 767px) {
          .body-registro .container section form {
            grid-template-columns: 1fr; }
            .body-registro .container section form .form-section.fullwidth {
              grid-column: initial; } }
