// TYPOGRAPHY START
@font-face {
  font-display: fallback;
  font-family: 'Cond';
  src: url(../fonts/DINCond.otf);
}
@font-face {
  font-display: fallback;
  font-family: 'Mozza';
  src: url(../fonts/Mozza.ttf);
}
@font-face {
  font-display: fallback;
  font-family: 'Ombudsman';
  src: url(../fonts/OmbudsmanStencil.ttf);
}
@font-face {
  font-display: fallback;
  font-family: 'Opensans-bold';
  src: url(../fonts/OpenSans-bold.ttf);
}
@font-face {
  font-display: fallback;
  font-family: 'Opensans';
  src: url(../fonts/OpenSans-regular.ttf);
}
// TYPOGRAPHY START