// COLORS START
$black: black;
$white: white;
$red-500: #cd0f57;
$red-400: #ca4478;
$red-300: #cc7395;
$blue-500: #015ec0;
$blue-400: #3477be;
$blue-300: #6992bd;

// COLORS END

// TYPOGRAPHY START
$cond: 'Cond';
$mozza: 'Mozza';
$ombudsman: 'Ombudsman';
$opensans: 'Opensans';
$opensans-bold: 'Opensans-bold';
$title-xl: 60px;
$title-l: 48px;
$title-m: 36px;
$title-s: 24px;
$title-xs: 18px;
$body-xl: 36px;
$body-l: 24px;
$body-m: 18px;
$body-s: 14px;
$body-xs: 12px;
$anchor-1: 14px;
$anchor-2: 12px;
// TYPOGRAPHY END